@charset "utf-8";
/* CSS Document */

/* Global */

:root {
	--clr-1: #015249;
	--clr-2: #57BC90;
	--clr-3: #77C9D4;
	--clr-4: #A5A5AF;
	--clr-5: #FFFFFF;
	
	--clr-1-tra-1: rgba(1,82,73,0.80);
	--clr-2-tra-1: rgba(87,188,144,0.80);
	--clr-3-tra-1: rgba(119,201,212,0.80);
	--clr-4-tra-1: rgba(165,165,175,0.80);
	--clr-5-tra-1: rgba(255,255,255,0.80);

	--clr-1-tra-2: rgba(1,82,73,0.60);
	--clr-2-tra-2: rgba(87,188,144,0.60);
	--clr-3-tra-2: rgba(119,201,212,0.60);
	--clr-4-tra-2: rgba(165,165,175,0.60);
	--clr-5-tra-2: rgba(255,255,255,0.60);
	

	--clr-1-drk-1: #00463E;
	--clr-1-drk-2: #003933;
	--clr-2-drk-1: #388D68;
	--clr-2-drk-2: #2D7153;
	--clr-3-drk-1: #3497A4;
	--clr-3-drk-2: #1B4F56;
}

*, *::before, *::after {
	box-sizing: border-box;	
}

.container {
	width: 95%;
	margin: auto;
	overflow: hidden;
	transition: 250ms all ease-in-out;
}

a {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
	font-family: 'Raleway', sans-serif;
}


/*Header*/

header {
	font-size: 14px;
	background: var(--clr-5);
	position: fixed;
	width: 100%;
	min-height: 80px;
	overflow: hidden;
/*	transition: 250ms all ease-in-out;*/
}

.scrolled-header {
	background: var(--clr-5-tra-1);
	font-size: 12px;
/*	transition: 250ms all ease-in-out;*/
}

.scrolled-header .container {
	width: 90%;
	transition: 250ms all ease-in-out;
}

/*
header::after {
	content: '';
	clear: both;
	display: block;
}
*/

/* Hamburger Icon */

.hamburger {
	float: left;
	position: absolute;
	width: 30px;
	height: 3px;
	background: var(--clr-2);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 1px 1.8px rgba(157,157,157,0.20);
	transition: .5s;
	border-radius: 50px;
}

.hamIcon {
	position: relative;
		margin-top: 3.5em;
		margin-left: 1.5em;
		padding: 0px 20px;
		float: left;
		transform: translateY(-50%);
		height: 30px;
		width: 30px;
		cursor: pointer;
}

.hamburger:before, .hamburger:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 3px;
	background: var(--clr-2);
	box-shadow: 0 1px 1.8px rgba(157,157,157,0.20);
	transition: .5s;
	border-radius: 50px;
}

.hamburger:before {
	top: -8px;
}

.hamburger:after {
	top: 8px;
}

.hamIcon.hamActive .hamburger {
	background: rgba(0,0,0,0);
	box-shadow: 0 1px 1.8px rgba(0,0,0,0);
}

.hamIcon.hamActive .hamburger:before {
	top: 0;
	transform: rotate(45deg);
		background: var(--clr-1);
}

.hamIcon.hamActive .hamburger:after {
	top: 0;
	transform: rotate(135deg);
		background: var(--clr-1);
}

/* Logo */

.logo {
	float: left;
	font-family: 'Kaushan Script', cursive; 
	font-size: 3em;
	padding: .4em;
	margin-left: .5em;
	display: inline-block;
}

.logo a {
	background-image: -webkit-linear-gradient(45deg, var(--clr-1), var(--clr-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	transition: all ease-in-out;
	transition-duration: 500ms;
	transform-origin: left;	
}

.logo a:hover {
	text-shadow: 0em 0em 0px var(--clr-1);	
}

/* Navigation Bar */

nav {
	float: left;
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-left: 3em;
	transform: translateY(-50%);
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	position: relative;
}

nav a {
	display: block;
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: .2em .2em 5px rgba(0,0,0,0.15);
	font-size: 1.2rem;
	color: var(--clr-1);
	padding: 0.5em 0em;
	margin: 0 2em;
	transition-duration: 300ms;
	transition-delay: 0s;
}

nav a:hover {
	color: #1DAF6F;
}

nav a::before {
	content: '';
	display: block;
	position: absolute;
	top: 2em;
	left: 24%;
	width: 52%;
	height: 0.13em;
	background-color: var(--clr-2);
	transition-property: scale;
	transition: ease-in-out 300ms;
	transform: scale(0);
	transform-origin: left;
}

nav li:nth-of-type(1) ::before {
		width: 45%;
		left: 27.5%;
}


nav li:nth-of-type(4) ::before {
		width: 0;
		height: 0;
}

nav .close::before {
		width: 0;
		height: 0;
}

nav a:hover::before {
	transform: scale(1);
}


/* Search bar */

/*

.menu ul li a.menu-item{
	transform: scale(1);
	transition: 0.5s;
	display: block;
}
*/
 .menu ul li a.menu-item.hide-item{
	transform: scale(0);
}

 .menu ul li:nth-child(1) a.menu-item.hide-item
{
	transition-delay: 0.4s;
}
 .menu ul li:nth-child(2) a.menu-item.hide-item
{
	transition-delay: 0.3s;
}
 .menu ul li:nth-child(3) a.menu-item.hide-item
{
	transition-delay: 0.2s;
}
 .menu ul li:nth-child(4) a.menu-item.hide-item
{
	transition-delay: 0.1s;
}




 .menu ul li:nth-child(1) a.menu-item
{
	transition-delay: 0s;
}
 .menu ul li:nth-child(2) a.menu-item
{
	transition-delay: 0.1s;
}
 .menu ul li:nth-child(3) a.menu-item
{
	transition-delay: 0.2s;
}
 .menu ul li:nth-child(4) a.menu-item
{
	transition-delay: 0s;
	padding: .5em 1.6em;
	border-radius: 20px;
	color: white;
	background: linear-gradient(to right, #57bc90, #77c9d4, #57bc90);
	background-size: 90% 90%;
	opacity: .6;
}

.menu ul li:nth-child(4) a.menu-item:hover
{
	padding: .5em 1.6em;
	border-radius: 20px;
	background: linear-gradient(to right, #57bc90, #77c9d4, #57bc90);
	background-size: 40% 40%;
	opacity: 1;
}

.menu ul li:nth-child(4) a.menu-item:hover
{
	background-position: 100px;
}
#search {
	
}

.search-form{
	position: absolute;
	top:0;
	left:50%;
	transform: translateX(0);
	width: 70%;
	height: auto;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
 }
.search-form.active{
 	opacity: 1;
	visibility: visible;
	transition-delay: 0.3s;
	transform: translateX(-70%); 
}
 .search-form input{
	width: 100%;
	height: 44px;
	background: transparent;
	color: var(--clr-1);
	border: none;
	outline: none;
	font-size: 16px;
}
 .search-form input::placeholder
{
	color:#2B2B2B;
}
 .search-form:before
{
	content: '\f002';
	position: absolute;
	top: 12px;
	left: -26px;
	font-size: 18px;
	color: #003933;
	font-family: fontAwesome;
}
 .close{
	position: absolute;
	right: 0;
	top: 0;
 	height: 30px;
	color: #003933;
	width: 20px;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	transition-duration: 0.5s;	
}
 .close.active{
	right: 21%;
	opacity: 1;
	visibility: visible;
}

/* Log in / Sign up button */

header .header-button {
	display: inline-block;
	float: right;
	position: absolute;
	right: 3.2em;
	transform: translateY(35%);
	padding: 1em 2em;
	background:linear-gradient(45deg, var(--clr-2), var(--clr-2), var(--clr-3), var(--clr-3));
	background-size: 1px 200px;	
	color: rgba(255,255,255,.9);
	border-radius: 20px;
	font-size: 1.2em;
	font-weight: 600;
	transition: all ease-in-out;
	transition-duration: 250ms;
}

header .header-button:hover {
	background-position: 100px;
}


/* Account Menu */

.account-menu {
	float: right;
	display: none;
	color: white;
	transform: translate(-50%,50%);
}

.account-menu img {
	height: 3em;
	width: 3em;
}

/* Sidebar */

.sidebar{
	
	float: left;
	top: 6.8em;
	width: 20%;
	left: -20%;
	padding: 20px;
	text-transform: uppercase;
	height: 100%;
	background-color: rgba(40, 148, 94, 0.9);
	position:fixed;
	transition: all ease-in-out 300ms;
	
}
 .sidebar.sidebarActive{
	left: 0;
}
 .sidebar ul{
	margin: 0;
	padding: 10px;
}
 .sidebar ul li{
	list-style: none;
	border-bottom: solid 1px rgba(255,255,255,.15);
	margin-top: 1em;
}
 .sidebar ul li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	line-height: 40px;
	text-align: left;
	display: block;
	transition: 0.6s all;
 }
 .sidebar ul li a:hover{
 	color: #015249;
}
 .style-icon{
	color: rgba(255,255,255,0.4);
	margin-right: 0.5em;
 } 


/* Home Hero */

.home-hero {
	background: url(../img/home-bg.jpg), linear-gradient(45deg, var(--clr-3-drk-2), var(--clr-3-drk-2), var(--clr-1-drk-2), var(--clr-1-drk-2), var(--clr-1-drk-2));
	height: 60vh;
	background-size: cover;
	background-blend-mode: screen;
}

/* Categories */

.categories {
	text-align: center;
	background-color: var(--clr-2);
}

.categories ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.categories li {
	display: inline-block;
}

.categories a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: .7rem;
	font-size: 1.5em;
	padding: 1.5em;
}

.content {
	display: flex;
	text-align:center;
	align-items: center;
}

.box {
	display: block;
	float: left;
	width: 30%;
	padding: 5px;
	margin: 5px;
	border: 1px solid red;
	height: 30em;
	background-color: pink;
}


/* Media Queries - Tablet*/

@media(max-width: 768px){
	header .hamburger, header .account-menu, header .logo, header nav, header nav li {
		width: 100%;
		display: block;
	}
}




