@charset "utf-8";
/* CSS Document */

:root {
	--clr-1: #015249;
	--clr-2: #57BC90;
	--clr-3: #77C9D4;
	--clr-4: #A5A5AF;
	--clr-5: #FFFFFF;
	
	--clr-1-drk-1: #00463E;
	--clr-1-drk-2: #003933;
	--clr-2-drk-1: #C0291D;
	--clr-2-drk-2: #A22318;
}

* {
	box-sizing: border-box;	
}

a {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
	font-family: 'Raleway', sans-serif;
}


.logo {
	font-family: 'Kaushan Script', cursive; 
/*	color: var(--clr-2);*/
	font-size: 3em;
	padding: .4em;
	margin-left: .5em;
	display: inline-block;
	
	
	
/*	text-shadow: 4px 3px 0px rgba(0,0,0,0), 6px 4px 5px rgba(0,0,0,0.15);*/
}

.logo a {
/*	color: var(--clr-2);*/
	transition: color ease-in-out;
	transition-duration: 250ms;
	transform-origin: left;
	background: -webkit-linear-gradient(left, var(--clr-1), var(--clr-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo a:hover {
	background: none;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	color: var(--clr-1);
}

header {
	left: 0;
	right: 0;
	background: var(--clr-5);
}

.home-hero {
	background-image: url(../img/home-bg.jpg), linear-gradient(-45deg, var(--clr-1), var(--clr-1), var(--clr-1-drk-2), var(--clr-1-drk-2), var(--clr-1-drk-2));
	height: 60vh;
	background-size: cover;
	background-blend-mode: screen;
}

nav {
	display: inline-block;
	margin-left: 3em;
	transform: translateY(-50%);
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	position: relative;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2rem;
	color: var(--clr-1);
	padding: 0.5em 0em;
	margin: 0 2em;
	text-shadow: .2em .2em 5px rgba(0,0,0,0.15);
	transition-duration: 250ms;
}

nav a:hover {
	color: var(--clr-2);
}

nav a::before {
	content: '';
	display: block;
	position: absolute;
	top: 1.5em;
	left: 27%;
	width: 45%;
	height: 0.15em;
	background-color: var(--clr-2);
	transition-property: scale;
	transition: ease-in-out 250ms;
	transform: scale(0);
	transform-origin: left;
}

nav a:hover::before {
	transform: scale(1);
}

.account-menu {
	display: inline-block;
	color: white;
	float: right;
	transform: translate(-50%,50%);
}

.account-menu img {
	height: 3em;
	width: 3em;
}

.categories {
	text-align: center;
	background-color: var(--clr-2);
}

.categories ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.categories li {
	display: inline-block;
}

.categories a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: .7rem;
	padding: .8em;
	font-size: 1.5em;
	padding: 1.5em;
}

.hamIcon {
	position: relative;
		margin-top: 3.5em;
		margin-left: 1.5em;
		padding: 0px 20px;
		float: left;
		transform: translateY(-50%);
		height: 30px;
		width: 30px;
		cursor: pointer;
	}
	
.hamburger {
	position: absolute;
	width: 30px;
	height: 3px;
	background: var(--clr-2);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 1px 1.8px rgba(157,157,157,0.20);
	transition: .5s;
	border-radius: 50px;
}

.hamburger:before, .hamburger:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 3px;
	background: var(--clr-2);
	box-shadow: 0 1px 1.8px rgba(157,157,157,0.20);
	transition: .5s;
	border-radius: 50px;
}

.hamburger:before {
	top: -8px;
}

.hamburger:after {
	top: 8px;
}

.hamIcon.hamActive .hamburger {
	background: rgba(0,0,0,0);
	box-shadow: 0 1px 1.8px rgba(0,0,0,0);
}

.hamIcon.hamActive .hamburger:before {
	top: 0;
	transform: rotate(45deg);
}

.hamIcon.hamActive .hamburger:after {
	top: 0;
	transform: rotate(135deg);
}
